Django==3.1.2
Pillow==8.0.0
gunicorn==20.0.4
whitenoise==5.2.0
sentry-sdk==0.19.1
requests==2.24.0
django-redis==4.12.1
celery-redbeat==1.0.0
pytz==2020.1
psycopg2-binary==2.8.6
arrow==0.17.0
djangorestframework==3.12.1
djangorestframework-simplejwt==4.4.0
django-environ==0.4.5
django-storages==1.10.1
django-cors-headers==3.5.0
django-braces==1.14.0
django-extensions==3.0.9
django-post-office==3.4.1
django-crispy-forms==1.9.2
django-allauth==0.43.0
celery==4.4.7
boto3==1.16.0
boto3-stubs==1.16.0.0
PyYAML==5.3.1
django-import-export==2.4.0
honeybadger==0.4.0
django-ses==1.0.3
djangoql==0.14.0
flake8==3.8.4
django-ckeditor==6.0.0
