{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Djangitos Demo{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% block extra_head %}{% endblock %}
</head>

<body class="antialiased font-sans bg-gray-200">
{% block content %}

    <div class="container mx-auto">
        <section class="flex items-center justify-center h-screen">
            <h1 class="text-4xl">
                Djangitos + Appliku = Yo
            </h1>
        </section>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}
</body>
</html>
