<!-- This example requires Tailwind CSS v2.0+ -->
<div class="max-w-7xl mx-auto py-12 sm:px-6 lg:px-8">
    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
            <div class="sm:flex sm:items-start sm:justify-between">
                <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Djangitos: Django Project Template
                    </h3>
                    <div class="mt-2 max-w-xl text-sm text-gray-500">
                        <p>
                            Spin up your next Django Project in minutes.
                            <br>
                        </p>
                    </div>
                </div>
                <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
                    <a href="https://github.com/appliku/djangitos" rel="noopener"
                       class="inline-flex items-center px-4 py-2 mx-4 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                        Get Code
                    </a>



                    <a href="https://appliku.com/discord" target="_blank" rel="noopener"
                       class="inline-flex items-center px-4 py-2 mx-4 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                        Join Discord
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>